CompileFlags:
  Add: [-Wall, -Wextra, -ffixed-point, --target=armv6m-none-eabi, -I../inc/]

---
If:
  PathMatch: .*\.c
CompileFlags:
  Add: [-std=c2y]

---
If:
  PathMatch: .*\.cpp
CompileFlags:
  Add: [-std=c++2c]
